.row {
	@mixin clearfix;

	&--gutters {
		margin-right: -65px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}
	
	&__medium-4 {
		@mixin atMedium {
			float: left;
			width: 33.33%;
		}

		&--larger {
			@mixin atMedium {
				width: 37%;
			}
		}
	}

	&__medium-6 {
		@mixin atMedium {
			float: left;
			width: 50%;
		}
	}

	&__medium-8 {
		@mixin atMedium {
			float: left;
			width: 66.66%;
		}

		&--smaller {
			@mixin atMedium {
				width: 63%;
			}
		}
	}

	&__large-4 {
		@mixin atLarge {
			float: left;
			width: 33.33%;
		}

		&--larger {
			@mixin atLarge {
				width: 37%;
			}
		}
	}

	&__large-6 {
		@mixin atLarge {
			float: left;
			width: 50%;
		}
	}

	&__large-8 {
		@mixin atLarge {
			float: left;
			width: 66.66%;
		}

		&--smaller {
			@mixin atLarge {
				width: 63%;
			}
		}
	}


	&__b-margin-until-medium {
		margin-bottom: 1rem;

		@mixin atMedium {
			margin-bottom: 0;
		}
	}

	&--t-padding {
		padding-top: 80px;
	}

	/* Begin equal height rules */
	&--equal-height-at-medium {
		@mixin atMedium {
			display: flex;
		}

		& > div {
			display: flex;
			float: none;
		}
	}

	&--equal-height-at-large {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			display: flex;
			float: none;
		}
	}
}